.DS_Store
__debug*
build/
tmp/

# Python artifacts
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
*.egg-info/
dist/
.eggs/
*.egg
.pytest_cache/
.coverage
coverage*.xml
htmlcov/
.mypy_cache/
.tox/
