# A list of root directorys where projects are located.
# The ProjectPaths directories would contain your project folders
# e.g., 
#  ProjectPaths:
#    - {{ .homeDir }}/code/projects
#    - {{ .homeDir }}/code/play
ProjectPaths:
    - 
