# A list of root directorys where projects are located.
# The ProjectPaths directories would contain your project folders
# e.g., 
#  ProjectPaths:
#    - {{.HomeDir}}/code/projects
#    - {{.HomeDir}}/code/play
ProjectPaths:
