# A list of root directorys where projects are located
# e.g., 
#   - /Users/me/code/projects
#     would contain folders like project-ABC, project-XYZ, ...
ProjectPaths:
  - {{.HomeDir}}/code/projects
  - {{.HomeDir}}/code/play