name: Setup CI Variables
on:
  workflow_call: {}

jobs:
  vars:
    runs-on: ubuntu-latest
    outputs:
      python_version_latest: "3.13"
      python_versions_all: '["3.13","3.12","3.11","3.10","3.9"]'
    steps:
      - name: CI variables set
        run: echo "ci variables exposed as job outputs"