name: "00-static-analysis-checks"

on:
  workflow_dispatch: {}
  workflow_call:
    inputs:
      python-version:
        required: false
        type: string
        default: "3.13"
      publish_reports:
        required: false
        type: boolean
        default: false

permissions:
  contents: read
  security-events: write

jobs:
  checks:
    runs-on: ubuntu-latest
    outputs:
      bandit_json_exists: ${{ steps.static_checks_action.outputs.bandit_json_exists }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ inputs.python-version }}

      - name: Run static checks (with security)
        id: static_checks_action
        uses: ./.github/actions/static-checks
        with:
          no-security: false

      - name: Upload Bandit SAST report (if present)
        if: ${{ always() && inputs.publish_reports == true && steps.static_checks_action.outputs.bandit_json_exists == 'true' }}
        uses: actions/upload-artifact@v4
        with:
          name: bandit-report
          path: bandit-report.json

      - name: Initialize CodeQL
        if: ${{ inputs.publish_reports == true }}
        uses: github/codeql-action/init@v4
        with:
          languages: python

      - name: Perform CodeQL Analysis
        if: ${{ inputs.publish_reports == true }}
        uses: github/codeql-action/analyze@v4

      