name: "02 - Run Tests (All Supported Versions)"

on:
  workflow_dispatch: {}
  workflow_call: {}
  pull_request:
    branches: [ main ]

permissions:
  contents: read

jobs:
  vars:
    uses: ./.github/workflows/ci-variables.yml

  security-scan:
    needs: vars
    uses: ./.github/workflows/security-scan.yml
    permissions:
      contents: read
      security-events: write
    secrets: inherit

  run-tests:
    needs: vars
    uses: ./.github/workflows/test-with-python-versions-reusable.yml
    with:
      python_versions: ${{ needs.vars.outputs.python_versions_all }}
    secrets: inherit
