name: "01 - Run Tests (Latest Supported Version)"

on:
  workflow_dispatch: {}
  workflow_call: {}
  push:
    branches: [ main, d5.**, copilot/**, ci/** ]

permissions:
  contents: read

jobs:
  vars:
    uses: ./.github/workflows/vars.yml

  run-tests:
    needs: vars
    uses: ./.github/workflows/test-reusable.yml
    with:
      python_versions: ${{ needs.vars.outputs.python_versions_latest }}
      fail_fast: false
    secrets: inherit
